@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  line-height: 1;
  font-family: "Noto Sans KR","나눔고딕",NamumGothic,"Apple SD Gothic Neo","돋움",dotum,sans-serif;
  box-sizing: border-box; }

ol, ul, li {
  list-style: none; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none;
  color: #333333; }

.clearB::after {
  content: '';
  display: block;
  clear: both; }

.header .container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .container .hlogo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold; }

.footer {
  background-color: #333333;
  color: #dddddd; }
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .container .copyright {
      font-size: 12px; }

.header,
.contents,
.footer {
  position: relative;
  width: 100%; }

.container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0; }
