.info-change {
    position: relative;
}

.btn-slidewrap{
    position: relative;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    .slide{
        &left, &right {
            width:10%;
            display:inline-block;
            text-align: center;
        }
    }
    .btn-slidebox {
        width:80%;
        display:inline-block;
        overflow: hidden;
    }
}
.btnbox {
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    >li {
        position: relative;
        margin-left:20px;
        &:first-child {
            margin-left:0;
        }
        .btn-info {
            display:inline-block;
            width:100%;
            padding:10px 20px;
            font-size:1rem;
            border:none;
            background:#333333;
            border-radius:3px;
            color:#ffffff;
            text-align:center;
        }
    }
}

.infobox {
    width:100%;
    padding:20px;
    margin: 40px 0;
    >li {
        width:100%;
        text-align: center;
        margin-top:10px;
        :first-child {
            margin-top:0;
        }
        &.info{
            &-words {
                font-style: italic;
                color:#666666;
                font-weight: 100;
                font-size:1.2rem;
            }
            &-name {
                font-size:24px;
                font-weight:700;
                margin: 40px 0;
            }
            &-default {
                color:#444444;
                margin-bottom:1.5rem;
            }
            &-desc {
                .desc-txt {
                    font-size:0.8rem;
                    line-height:1.4;
                }
            }
            &-owner {
                margin:50px 0 50px;
                font-size:0.8rem;
                &::before {
                    content:'오너:';
                    margin-right:20px;
                    font-size:0.6rem;
                    font-style:italic;
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .btnbox {
        float:left;
        width:30%;
        max-width:100px;
        display:initial;
        >li {
            width:100%;
            margin-top:10px;
    
            &:first-child {
                margin-top:0;
            }
        }
    }
    
    .infobox {
        float:right;
        width:70%;
        padding:20px;
    }
}